<!-- 記事削除確認画面 START　-->
<div class="modal fade" id="delete_confirm" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">記事を削除しますか?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"　data-dismiss="modal" id='delete_btn'>OK</button>
      </div>
    </div>
  </div>
</div>
<!-- 記事削除確認画面 END　-->


<!-- アカウント情報一括変更 START　-->
<div class="modal fade" id="update_confirm" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">アカウント情報を一括更新しますか?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"　data-dismiss="modal" id='update_acount_all_btn'>OK</button>
      </div>
    </div>
  </div>
</div>
<!-- アカウント情報一括変更 END　-->

<!-- コメント詳細画面 START　-->
<div class="modal fade" id="detail_comment" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">コメント詳細</h5>
      </div>

      <div class="modal-body container-fluid">
          <div class="row">
              <p class="col-2">Name</p>
              <p class="detail_comment_name col-10"></p>
          </div>
          <div class="row">
              <p class="col-2">Text</p>
              <p class="detail_comment_text col-10"></p>
          </div>
          <div class="row">
              <p class="col-2">Email</p>
              <p class="detail_comment_email col-10"></p>
          </div>
          <div class="row">
              <p class="col-2">Date</p>
              <p class="detail_comment_created_at col-10"></p>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- コメント詳細画面 END　-->


<!-- ブログ情報一括変更 START　-->
<div class="modal fade" id="update_blog_confirm" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ブログ情報を一括更新しますか?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"　data-dismiss="modal" id='update_blog_all_info_btn'>OK</button>
      </div>
    </div>
  </div>
</div>
<!-- ブログ情報一括変更 END　-->
