{% extends 'base.html' %}
{% load static %}

{% block titile %}
    password_change_done
{% endblock %}

{% block header %}
    {% include 'include/header-2.html' %}
{% endblock%}

{% block content %}
<div class="account_operation_wrap d-flex">
    <div class="login_form_wap form_wrap">
        <div class="account_title_wrap text-center mb-3">
            <h2  class="account_form_title">パスワード変更しました。</h2>
        </div>
        <a href="{% url 'blog:login' %}">ログイン</a>
    </div>
</div>
{% endblock %}
