{% extends 'base.html' %}
{% load static %}

{% block titile %}
    login
{% endblock %}

{% block header %}
    {% include 'include/header-2.html' %}
{% endblock%}

{% block content %}
<div class="account_operation_wrap d-flex">
    <div class="form_wrap">
        <div class="account_title_wrap text-center mb-3">
            <h2  class="account_form_title">ログイン</h2>
        </div>
        <form method="post" class="login_form_wrap">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <p>{{ field.label }}{{ field }}</p>
                <p>{{ field.error }}</p>
            {% endfor %}
            <div class="text-center mt-4">
                <button type="submit" name="button" class="btn btn-dark">login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
